<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/geofertas</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
      <mapping class="com.geofertas.entities.Administrator"/>
      <mapping class="com.geofertas.entities.Advertisement"/>
      <mapping class="com.geofertas.entities.AdvertisementTag"/>
      <mapping class="com.geofertas.entities.BranchOffice"/>
      <mapping class="com.geofertas.entities.Catalogue"/>
      <mapping class="com.geofertas.entities.CatalogueDetail"/>
      <mapping class="com.geofertas.entities.Company"/>
      <mapping class="com.geofertas.entities.Parameter"/>
      <mapping class="com.geofertas.entities.Tag"/>
      <mapping class="com.geofertas.entities.User"/>
      <mapping class="com.geofertas.entities.UserAdvertisement"/>
      <mapping class="com.geofertas.entities.UserCompany"/>
      <mapping class="com.geofertas.entities.UserParameter"/>
      <mapping class="com.geofertas.entities.UserTag"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>